<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ble.demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
     <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
     <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_GPS"/>
  
    <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="ENOrcixzbRkEl28e8q1FnkmmMCtlonK9" />   
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_launcher"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.ble.find.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.ble.find.UserActivity" >
        </activity>
        <activity android:name="org.ble.find.RegisterActivity" >
        </activity>
        <activity android:name="org.ble.demo.ScanningActivity" >
        </activity>
        <activity android:name="org.ble.find.IntroductionActivity" >
        </activity>
        <activity android:name="org.ble.find.WebActivity" >
        </activity>
         <activity
            android:name="org.ble.find.UserSetActivity">
        </activity>
         <activity
            android:name="org.ble.find.User_SetActivity">
        </activity>
        <activity
            android:name="org.ble.demo.PeripheralActivity"
            android:label="@string/title_activity_peripheral"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
 
    </application>

</manifest>
